<div id="tasks-overview">
    
    <h2>Your tasks:</h2>

    <div id="tasks-overview-top">
        
    </div>
    
    <div id="tasks-red" class="task-table">
        <h3>- High Urgency!</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Remove task?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks.getTasksByPriority('Red')">
                    <td>{{task.description}}</td>
                    <td>{{task.date.toDateString()}}</td>
                    <td class="remove-task" (click)="removeTask(task)"><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
                <tr *ngIf="tasks.getTasksByPriority('Red').length == 0">
                    <td colspan="3">No red tasks, good job!</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="tasks-yellow" class="task-table">
        <h3>- Somewhat Urgent.</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Remove task?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks.getTasksByPriority('Yellow')">
                    <td>{{task.description}}</td>
                    <td>{{task.date.toDateString()}}</td>
                    <td class="remove-task" (click)="removeTask(task)"><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
                <tr *ngIf="tasks.getTasksByPriority('Yellow').length == 0">
                    <td colspan="3">No yellow tasks, good job!</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="tasks-green" class="task-table">
        <h3>- Not really urgent.</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Remove task?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks.getTasksByPriority('Green')">
                    <td>{{task.description}}</td>
                    <td>{{task.date.toDateString()}}</td>
                    <td class="remove-task" (click)="removeTask(task)"><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
                <tr *ngIf="tasks.getTasksByPriority('Green').length == 0">
                    <td colspan="3">No green tasks, good job!</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

<div routerLink="/task" id="add-button"><i class="fa fa-plus" aria-hidden="true"></i>
</div>