<div id="task-editor">
   <h2>Add a new task</h2>
   
    <div id="task-form">
        <label for="task-description">Task description:</label>
        <input id="task-description" [(ngModel)]="taskDescription" type="text" placeholder="Lucy needs some catfood, run by the store to get some!">
    
        <label for="task-priority">Task priority:</label>
        <select id="task-priority" [(ngModel)]="taskPriority">
            <option *ngFor="let priority of ['Green', 'Yellow', 'Red']">{{priority}}</option>
        </select>
        
        <button (click)="addTask()">Add task</button> 
    </div>
</div>